data/instrument/*.pdf
data/output_lightcurves/plots/*.pdf
data/sph_harmonic_coefficients/old_before_generalization/
data/sph_harmonic_coefficients_full_samples/eclipse_lightcurve_test?/
data/sph_harmonic_coefficients_full_samples/old_spiderman_0p9p2/
data/sph_harmonic_coefficients_full_samples/*
data/input_lightcurves/*
*.pyc
.ipynb_checkpoints/
*.DS_Store
plots/eigenmap_and_spec/*.pdf
plots/original_maps/*.pdf
HUEflux_LUMstdev_complexmap.pdf
HUEflux_LUMstdev_complexmap.png
HUEflux_LUMstdev_fullmap.pdf
HUEflux_LUMstdev_fullmap.png
HUEgroup_LUMflux_complexmap.pdf
HUEgroup_LUMflux_complexmap.png
HUEgroup_LUMflux_fullmap.pdf
HUEgroup_LUMflux_fullmap.png
coefficient_table.ipynb
data/coefficient_posteriors/
eigenmaps_updated_faster_eval.pdf
eigenmaps_updated_faster_eval.png
examine_eigenmaps_and_curves.ipynb
find_time_resolution.py
make_figure_hot_spot_inputs_save_spec.ipynb
master_clean_2020_01_08_rerun_hotspot.ipynb
master_clean_2020_01_14_rerun_hotspot_3curves.ipynb
master_clean_2020_03_31_center_hotspot_starry_all_the_way.ipynb
notebook.tex
old_notebooks/latitude_coordinates_quirkiness.ipynb
old_notebooks/master_PandExo_copy.ipynb
old_notebooks/master_add_noise_vectors_2019-09-10.ipynb
old_notebooks/master_add_noise_vectors_higher_noise_2000_2019-09-10.ipynb
old_notebooks/master_add_noise_vectors_higher_noise_200_2019-09-10.ipynb
old_notebooks/master_add_noise_vectors_higher_noise_2019-09-10.ipynb
old_notebooks/master_clean_copy_testing_save_nparams.ipynb
old_notebooks/master_cleaned_quadspike_map-ESquadrant_checks.ipynb
old_notebooks/master_cleaned_quadspike_map-copy-orig.ipynb
old_notebooks/master_faster_map_calc_ES_1quadrant_2019-07-15-Copy1.ipynb
old_notebooks/master_faster_mapcalc_megan_branch_2019-09-09.ipynb
old_notebooks/master_spidermanalltheway_ES_1quadrant.ipynb
old_notebooks/master_spidermanalltheway_ES_1quadrant_2019-07-15.ipynb
one_quadrant_noise_vec_higher_noise.png
output_11_0.png
output_16_0.png
output_20_1.png
output_23_1.png
output_29_0.png
output_30_0.png
output_35_0.png
output_3_1.png
output_42_0.png
output_47_0.png
output_47_1.png
output_47_2.png
output_47_3.png
output_49_0.png
output_4_1.png
output_54_0.png
output_55_0.png
output_61_0.png
output_62_1.png
output_67_0.png
output_69_0.png
output_71_1.png
output_75_1.png
output_76_0.png
output_76_1.png
output_76_2.png
output_76_3.png
output_76_4.png
output_77_1.png
output_80_1.png
output_9_1.png
parse_mcmc_chains-hotspot_degree.ipynb
plot_results_when_scaling_error_bars.ipynb
plots/eigenmap_and_spec/all_eigencurves_deg3/
plots/error_bar_scaling/
plots/group_histos/
plots/mystery1_eigenbest_deg_3_grp_2.pdf
plots/one_quadrant_test/
plots/paper_figures/HUEflux_LUMflux_hotspot.pdf
plots/paper_figures/HUEflux_LUMflux_hotspot_deg_2.pdf
plots/paper_figures/HUEflux_LUMflux_hotspot_deg_3.pdf
plots/paper_figures/HUEflux_LUMstdev_hotspot.pdf
plots/paper_figures/HUEflux_LUMstdev_hotspot_3curves_deg_2.pdf
plots/paper_figures/HUEflux_LUMstdev_hotspot_3curves_deg_3.pdf
plots/paper_figures/HUEflux_LUMstdev_hotspot_deg_3.pdf
plots/paper_figures/HUEgroup_LUMflux_hotspot.pdf
plots/paper_figures/HUEgroup_LUMflux_hotspot_3curves_deg_2.pdf
plots/paper_figures/HUEgroup_LUMflux_hotspot_3curves_deg_3.pdf
plots/paper_figures/HUEgroup_LUMflux_hotspot_deg_2.pdf
plots/paper_figures/HUEgroup_LUMflux_hotspot_deg_3.pdf
plots/paper_figures/group_histos_hotspot_3curves_degree_3_ngroup_2.pdf
plots/paper_figures/group_histos_hotspot_3curves_degree_3_ngroup_3.pdf
plots/paper_figures/hot_spot_spectra_deg3_2groups_error_bars.pdf
plots/retrieved_maps/histos_of_fluxes/
plots/retrieved_maps/retrieved_map_None_deg_2_waveInd_3.pdf
plots/retrieved_maps/retrieved_map_None_deg_2_waveInd_8.pdf
plots/retrieved_maps/retrieved_map_None_deg_3_waveInd_8.pdf
plots/retrieved_maps/retrieved_map_mystery1_eigenbest_deg_3_waveInd_0.pdf
plots/retrieved_maps/retrieved_map_one_quad_n_eigencurves_deg_2_waveInd_3.pdf
plots/retrieved_maps/retrieved_map_one_quad_n_eigencurves_deg_3_waveInd_3.pdf
plots/retrieved_maps/retrieved_map_one_quad_n_eigencurves_deg_4_waveInd_3.pdf
plots/retrieved_maps/retrievedmap_deg_2.png
plots/retrieved_maps/retrievedmap_deg_3.png
plots/retrieved_maps/retrievedmap_deg_4.png
plots/selected_group_histos.pdf
plots/selected_group_histos_hotspot_model_3_eigencurves_deg_2.pdf
plots/selected_group_histos_hotspot_model_3_eigencurves_deg_3.pdf
plots/selected_group_histos_quad_model_5_eigencurves_deg_2.pdf
plots/selected_group_histos_quad_model_5_eigencurves_deg_3.pdf
retrievedmap.png
table_of_coefficients.py
